<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body>
    <div class="content">
        <%- include ("../partials/nav") %>
        <h1>Administration</h1>

        <h3>Options</h3>
        <ul>
            <li>
                <form method="POST" action="/admin/createtoken">
                    <input type="text" name="className" placeholder="Class Name" required>
                    <input type="submit" value="Generate an Access Token">
                </form>
            </li>
        </ul>

        <table>
            <h3>Users</h3>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Class</th>
                <th>Register Date</th>
                <th>Last Login</th>
                <th>Delete</th>
            </tr>
            <% for (let user of users) { %>
                <tr>
                    <td><%= user.ID %></td>
                    <td><%= user.USERNAME %></td>
                    <td><%= user.CLASS %></td>
                    <td><%= new Date(user.REGISTERDATE).toLocaleString() %></td>
                    <td><%= new Date(user.LOGINDATE).toLocaleString() %></td>
                    <td>
                        <form method="POST" action="/admin/deluser">
                            <input type="hidden" name="id" value="<%= user.ID %>">
                            <input class="x" type="submit" value="x">
                        </form>
                    </td>
                </tr>
            <% } %>
        </table>

        <table>
            <h3>Classes</h3>
            <tr>
                <th>Token</th>
                <th>Class Name</th>
                <th>Delete</th>
            </tr>
            <% for (let c of classes) { %>
                <tr>
                    <td><%= c.TOKEN %></td>
                    <td><%= c.NAME %></td>
                    <td>
                        <form method="POST" action="/admin/deltoken">
                            <input type="hidden" name="token" value="<%= c.TOKEN %>">
                            <input class="x" type="submit" value="x">
                        </form>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>
    <%- include ("../partials/footer") %>
</body>
</html>
 