<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
    <script defer src="/scripts/assignment.js"></script>
    <link rel="stylesheet" href="/stylesheets/assignments.css">
</head>
<body>
    <%- include ("../partials/nav") %>
    <div>
        <div id="info">
            <a href="/" id="back">Back to Assignments</a>
            <h1 id="assignment-title"><%- assignment.NAME %></h1>
            <p><%- assignment.DESC %></p>
            <i>Hints: <%- assignment.HINTS %></i>
        </div>
        <textarea id="text" rows="30" cols="120"><%- code %></textarea>
        <p id="console">
            <% if (console) { %>
                <b><%= console.title %></b><br>
                <span style="color: green;">Passed: <%= console.passed %></span>
                <span style="color: red;">Failed: <%= console.failed %></span><br><br>
                <% for (let line of console.lines) { %>
                    <%= line %><br>
                <% } %>
            <% } %>
        </p>
        <div id="buttons">
            <p id="current-mark">
                <% if (assignment.MARK != null) {  %>
                    <% if (eval(assignment.MARK) == 1) { %>
                        <%- `Current mark: <strong style="color: limegreen">${assignment.MARK}</strong>` %>
                    <% } else if (eval(assignment.MARK) > 0) { %>
                        <%- `Current mark: <strong style="color: gold">${assignment.MARK}</strong>` %>
                    <% } else { %>
                        <%- `Current mark: <strong style="color: red">${assignment.MARK}</strong>` %>
                    <% } %>
                <% } %>    
            </p>
            <% if (!submitted) { %>
                <em style="color: #aaa;">You have unsubmitted code.</em>
            <% } %>
            <form method="POST" action="/assignment/run">
                <input type="hidden" name="code" class="code">
                <input type="hidden" name="assignment" value="<%= JSON.stringify(assignment) %>">
                <input type="submit" value="Run ðŸƒ">
            </form>
            <form method="POST" action="/assignment/submit">
                <input type="hidden" name="code" class="code">
                <input type="hidden" name="assignment" value="<%= JSON.stringify(assignment) %>">
                <input type="submit" value="Submit ðŸ“">
            </form>
        </div>
    </div>
</body>
</html>
