<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body>
    <div class="content">
        <%- include ("../../partials/nav") %>
        <h1><%- assignment.NAME %></h1>
        <p><%- assignment.DESC %></p>
        <p>Due on: <%- new Date(assignment.DUEDATE).toLocaleString() %></p>
        <i>Hints: <%- assignment.HINTS %></i>

        <h2>Submissions</h2>
        <% for (let sub of submissions) { %>
            <div>
                <h3><%- sub.USERNAME %></h3>
                <p><%- sub.CODE %></p>
                <p><%- sub.SUBMITDATE ? new Date(sub.SUBMITDATE).toLocaleString() : "Not submitted." %></p>
            </div>
        <% } %>
    </div>
    <%- include ("../../partials/footer") %>
</body>
</html>
 