<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head") %>
    <script defer src="/scripts/assignment.js"></script>
    <script defer src="/scripts/updateadminsubmission.js"></script>
    <link rel="stylesheet" href="/stylesheets/assignments.css">
</head>
<body>
    <%- include ("../../partials/nav") %>
    <div>
        <div id="info">
            <h1><%- user.FIRSTNAME + " " + user.LASTNAME %></h1>
            <h2><%- assignment.NAME %></h2>
            <p><%- assignment.DESC %></p>
            <i>Hints: <%- assignment.HINTS %></i>
        </div>
        <textarea id="text" rows="30" cols="120"><%- code %></textarea>
        <p id="console">
            <% if (console) { %>
                <b><%= console.title %></b><br>
                <span style="color: green;">Passed: <%= console.passed %></span>
                <span style="color: red;">Failed: <%= console.failed %></span><br><br>
                <% for (let line of console.lines) { %>
                    <%= line %><br>
                <% } %>
            <% } %>
        </p>
        <div id="buttons">
            <p id="current-mark">
                <% if (assignment.MARK != null) {  %>
                    <% if (eval(assignment.MARK) == 1) { %>
                        <%- `Current mark: <strong style="color: limegreen">${assignment.MARK}</strong>` %>
                    <% } else if (eval(assignment.MARK) > 0) { %>
                        <%- `Current mark: <strong style="color: gold">${assignment.MARK}</strong>` %>
                    <% } else { %>
                        <%- `Current mark: <strong style="color: red">${assignment.MARK}</strong>` %>
                    <% } %>
                <% } %>    
            </p>
            <form method="POST" action="/admin/submission/run">
                <input type="hidden" name="code" class="code">
                <input type="hidden" name="submission" id="submission" value="<%= submission.ID %>">
                <input type="submit" value="Test ⚙️">
            </form>
        </div>
    </div>
</body>
</html>
